# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.dex
*.class

# files from test
apks/
*.log

# objects and bins
objs/
bin/

# visual studio code
.vscode/

# doc shit
doc/html/
doc/latex/

# analysis stuff
*.rep
*.jobf
*.gpr

# CMake output
build/

# files type .inc
*.inc